* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(50, 70, 110);
  text-align: center;
  font-family: Arial, sans-serif;
  color: #fff;
}

main {
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-top: 20px;
  margin-bottom: 15px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.2vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  font-size: 4rem;
  font-weight: bold;
  color: #1d1d1d;
  background-color: #f1c27d;
  cursor: pointer;
  transition: 0.3s;
}

.box:hover {
  background-color: #e0a96d;
}

#newbtn {
  height: 60px;
  width: 180px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #3b3b98;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
}

#reset:hover, #newbtn:hover {
  background-color: #2d2d70;
}

#msg {
  color: #00ffe0;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}

.msg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background: rgba(0,0,0,0.6);
}

.hide {
  display: none;
}
